---
layout: default
title: sftuts.com - Tutorials for Symfony
---

<div id="home">
  <h1>Recent Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
      {% if forloop.index < 2 %}
        <div id="post" class="excerpt">
          {{ post.content  | before_fold }}
        <p class="more"><a href="{{ post.url }}" title="{{ post.title }}">Read more ...</a></p>
        </div>
      {% endif %}
    {% endfor %}
  </ul>
</div>
